###############
#    folder   #
###############
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/obj/
bin
obj
drop
temp
resources
node_modules
tech-doc-hugo
.vs
.vscode
dist
fonts
_site
_site_pdf

###############
#    Hugo     #
###############
public

###############
#    mkdocs   #
###############
site

###############
#   Prettier  #
###############
.prettierrc.json
.prettierignore

###############
#   files     #
###############
.DS_Store
Thumbs.db
*.user
*.log
*.cache
*.received.*
*.diff.*
.settings
.idea
launchSettings.json
*.sublime-workspace
*.nuget.targets
*.code-workspace
*.binlog
package.json
package-lock.json

###############
#  temp file  #
###############
*.nupkg
*.log
*.tmp
*.vsprops
*.suo
*.user
*.userprefs
*.sdf
*.sln.ide
*.cache
*.sln.metaproj
.gitattributes
.settings
log.txt
debugSettings.json
launchSettings.json
project.lock.json
*.sublime-workspace
.hugo_build.lock
